#train-parts-container {
  pointer-events: none;
  overflow: hidden;
}

#train-parts-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.trainParts {
  image-rendering: pixelated;
  position: absolute;

  transform: rotate(0rad);
  user-select: none;

  pointer-events: all;

  /* transition-property: transform;
  transition-duration: 100ms; */
}

.trainParts:hover {
  cursor: pointer;
}

.trainParts:not([data-focus]) {
  opacity: 0.5;
}